/* Resetting default margin and padding for the list items */
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Styling the navigation bar */
nav {
  background-color: #333; /* Change this to your desired background color */
}

nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  color: white; /* Change this to your desired text color */
}

nav a:hover {
  background-color: #555; /* Change this to your desired hover background color */
}

/* Centering the navigation links */
nav ul {
  text-align: center;
}

nav li {
  display: inline;
  margin-right: 20px; /* Adjust the spacing between links */
}

/* Making the navigation bar fixed at the top */
nav {
  
  top: 0;
  width: 100%;
}

/* Adding spacing between the header and the navigation bar */
h2 {
  margin-bottom: 20px;
}

.button {
  background-color: rgb(3, 189, 0); 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  background-color: rgb(49, 158, 19); /* darker shade on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* subtle box shadow on hover */
}

.button1 {
  background-color: rgba(215, 0, 0, 0.773); 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button1:hover {
  background-color: rgb(191, 29, 29); /* darker shade on hover */
  box-shadow: 0 0 10px rgba(139, 120, 120, 0.2); /* subtle box shadow on hover */
}

input[type=text],input[type=password],input[type=number],input[type=email],
select,input[type=date],textarea
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label
{
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-weight: bold;
}